[Unit]
Description=Conserver Serial-Port Console Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/conserver
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
